.status-btn span {
  display: inline-block;
  padding: 3px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
}
.ticket-card {
  transition: 0.5s;
}
.ticket-card:hover {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
